.container {
    background-color: azure;
    width: 50%;
    border-style: solid;
    border-radius: 15px;
    border-color: aquamarine;
}

.header-title {
    color: dodgerblue;
}

.footer {
    text-align: left;
    border-top: solid aquamarine;
}

.footer-text {
    color: dodgerblue;
}

.task-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    /*border: solid;
    border-radius: 15px;
    border-width: 1px;
    border-color: dodgerblue;*/

}

.task-text {
    color: dodgerblue;
    margin: 0%;
}

.task-button {
    display: none;
    background-color: azure;
    border: none;
    z-index: 3;
}

.task-wrapper:hover .task-button {
    display: unset;
    color: red;
}

.input {
    width: 100%;
    padding: 5px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;    
    background-color:rgb(230, 255, 255);
    border-color: azure;
}