@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

body {
    background-color: beige;
}
.container {
    background-color: azure;
    width: 50%;
    border-style: solid;
    border-radius: 15px;
    border-color: aquamarine;
    transform: skewX(-15deg);
    margin-top: 30px;
}

.header-title {
    color: dodgerblue;
    font-family: 'Kalam', cursive;
}

.footer {
    text-align: left;
    border-top: solid aquamarine;
}

.footer-text {
    color: dodgerblue;
    font-family: 'Kalam', cursive;
}

.task-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    /*border: solid;
    border-radius: 15px;
    border-width: 1px;
    border-color: dodgerblue;*/

}

.task-text {
    color: dodgerblue;
    margin: 0%;
    font-family: 'Kalam', cursive;
}

span.task-text {
    z-index: -3;
}

.task-button {
    /*display: none;*/
    background-color: azure;
    border: none;
    border-radius: 5px;
}
.task-button:hover {
    color: rgb(12, 100, 189);
}

.task-button:active {
background-color: rgb(188, 254, 254);;
box-shadow: 3px 3px 5px rgb(84, 140, 135), -3px -3px 5px rgb(188, 254, 254);
}

.task-wrapper:hover .task-button {
    display: unset;
}

.input {
    width: 100%;
    padding: 5px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;    
    background-color:rgb(230, 255, 255);
    border-color: azure;
    transform: skewX(15deg);
    font-family: 'Kalam', cursive;
}